<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div> &copy;Wanderlust Private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy policy</a>
            <a href="/terms">Terms of service</a>
        </div>
    </div>
</footer>