body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;;
   
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* footer styling */
footer{
    background-color: #f8f9fa;
    padding: 1rem 0;
}
.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-info-socials{
    margin-bottom: 0.5rem;
}
.f-info-socials i{
    margin: 0 0.5rem;
    font-size: 1.5rem;
}
.f-info-links a{
    margin: 0 0.5rem;
}
.btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 20px;
    padding: 0 1rem;
}
.btn-search:hover{
    background-color: #fe424d;
    color: #fff;

}
#searchIcon{
    display: inline;
    margin-right: 0.6rem;
}
.search-inp{
    border-radius: 20px;
    padding: 0.4rem 3rem ;
}


/* cards styling */
.listing-card{
    border: none;   
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    
}

.card-img-top{
    border-radius: 1rem !important  ;
    height: 15rem;
    /* width: 100% !important; */
    object-fit: cover !important;
}

.listing-link{
    text-decoration: none !important;
}

/* overlay effect on cards */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity : 0.2;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
}
 .add-btn{
    background-color: #fe424d;
    color: white;
    /* text-decoration: none !important; */
 }
 

/* show page */
.show-img{
    height: 45vh;
}
.btns{
    display: flex;
}

/* Ensure body content is pushed down */
.navbar-collapse {
  background-color: white; /* or match your navbar's background */
  z-index: 1; /* keeps it above content, but below modals if any */
}

